html, body
{
    height: 100%;
    margin: 0 auto;
    position: relative;
}
body
{
    background-color: #ffcc33;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    font-family: sans-serif;
}
section {
    display: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    font-size: 2.5em;
}
ul.listview {
    margin: 0;
    padding-top: 10px;
}
ul.listview li {
    border-bottom: 1px solid #333;
    font-size: 12pt;
    font-weight: normal;
    padding: 0 10px;
    text-align: left;
}
ul.gridview li
{
    display: inline-block;
    text-align: center;
    width: 135px;
}

ul li a
{
    color: black;
    cursor: pointer;
    display: block;
    font-size: 32px;
    text-decoration: none;
}
ul.listview li a
{
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#body {
    padding-top: 48px;
}
#header_image {
    background-image: url(http://www.kij13.org.uk/wp-content/uploads/2011/02/kij2009opening.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 72px;
    text-align: center;
}
#action_bar {
    background-color: #DDD;
    border-bottom: 1px solid #A9A9A9;
    box-shadow: 0 0 10px 3px black;
    display: none;
    height: 48px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    white-space: nowrap;
    z-index: 1;
}

#action_bar a {
    color: #9A9A9A;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    height: 32px;
    line-height: 20px;
    margin-left: 4px;
    min-width: 64px;
    text-decoration: none;
}
#action_bar img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
}
#action_bar h1 {
    color: #333;
    display: inline-block;
    margin: 16px 4px;
    vertical-align: middle;
    font-size: 16px;
}
#loading {
    display: none;
    font-size: 2em;
    padding: 20px;
    text-align: center;
}
#popup {
    display: none;
    background: #EEE;
    border: solid #CCC;
    border-width: 1px 1px 0 1px;
    position: fixed;
    bottom: 0px;
    margin: 0 15%;
    padding: 5px;
    width: 70%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#splash {
    display: block;
    line-height: 384px;
    text-align: center;
}
#splash img {
    vertical-align: middle;
}
#menu {
    background-image: url(http://www.kij13.org.uk/wp-content/uploads/2011/05/Jamboree-TV-Block-Group-Photo-1024x682.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    min-height: 100%
}
#menu li {
    display: inline-block;
    text-align: center;
    width: 134px;
    background: #FC3;
    border-radius: .3em;
    box-shadow: .1em .1em .5em rgba(0, 0, 0, .6) inset;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #B91;
    cursor: pointer;
    font-size: 32px;
}
#news-list li {
    line-height: 48px;
}
#event-list p {
    margin: 0;
}
#event-list .title {
    font-size: 20pt;
    font-weight: bold;
    white-space: normal;
    width: 70%;
}
#event-list .date-text {
    float: left;
    text-align: center;
    width: 50px;
    white-space: normal;
}
.date-text {
    color: #4C114C;
    font-size: 18pt;
}
#event-list .remind-btn{
    color: white;
    position: absolute;
    right: 0;
    top: 10px;
}
button,
.button {
    background: #721a72;
    color: white;
    cursor: pointer;
    font-size: 10pt;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 4px;
    border: solid 1px #210621;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
    user-select:none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background: #4c114c;
}
button:active,
.button.selected,
.button:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #4c114c;
}
.category {
    font-size: 10pt;
    font-weight: bold;
}
#event-list .category {
    bottom: 5px;
    position: absolute;
    right: 5px;
}
#debug p {
    margin: 0;
    padding: 10px;
}
#map {
    position: relative;
}
#marker {
    background-image: url(../img/scoutpointer.png);
    display: none;
    height: 38px;
    position: absolute;
    width: 24px;
}
#radio {
    text-align: center;
}
#controls .button {
    display: inline-block;
}
#learn .intro {
    padding-top: 10px;
    text-align: center;
}
#learn-list .highlight {
	animation: highlight 3s;
}
@keyframes highlight {
	0% {box-shadow: 0 0 20px 15px transparent;}
	10% {box-shadow: 0 0 20px 15px black;}
	50% {box-shadow: 0 0 20px 15px black;}
	100% {box-shadow: 0 0 20px 15px transparent;}
}
#barcode {
    text-align: center;
}
video {
    width: 90%;
    margin-top: 40px;
}
#settings {
    padding: 5px;
}
#settings button,
#settings select {
    float: right;
}
