html, body 
{
    margin: 0 auto;
    position: relative;
}
body 
{
    background-color: #ffcc33;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    font-family: sans-serif;
    min-height: 570px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    font-size: 2.5em;
}
ul.listview {
    margin: 0;
}
ul.listview li {
    border-bottom: 1px solid #333;
    font-size: 12pt;
    font-weight: normal;
    padding: 0 10px;
    text-align: left;
}
ul.gridview li
{
    display: inline-block;
    text-align: center;
    width: 135px;
}

ul li a
{
    color: black;
    cursor: pointer;
    display: block;
    font-size: 32px;
    text-decoration: none;
}
ul.listview li a
{
    color: #111;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#body {
    margin-top: 48px;
}
#header_image {
    background-image: url(http://www.kij13.org.uk/wp-content/uploads/2011/02/kij2009opening.jpg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    height: 72px;
    text-align: center;
}
#action_bar {
    background-color: #DDD;
    height: 48px;
    border-bottom: 1px solid #A9A9A9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 1;
}

#action_bar a {
    color: #9A9A9A;
    cursor: pointer;
    display: inline-block;
    font-size: 28px;
    height: 32px;
    line-height: 20px;
    margin-left: 4px;
    min-width: 64px;
    text-decoration: none;
}
#action_bar img {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
}
#action_bar h1 {
    color: #333;
    display: inline-block;
    margin: 16px 4px;
    vertical-align: middle;
    font-size: 16px;
}
#loading {
    font-size: 2em;
    padding: 20px;
    text-align: center;
}
#popup {
    display: none;
    background: #EEE;
    border: solid #CCC;
    border-width: 1px 1px 0 1px;
    position: fixed;
    bottom: 0px;
    margin: 0 15%;
    padding: 5px;
    width: 70%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#news-list li {
    line-height: 48px;
}
#event-list li > a {
    position: relative;
}
#event-list p {
    margin: 0;
}
#event-list .title {
    font-size: 20pt;
    font-weight: bold;
    white-space: normal;
    width: 70%;
}
#event-list .date-text {
    float: left;
    text-align: center;
    width: 50px;
    white-space: normal;
}
.date-text {
    color: #4C114C;
    font-size: 18pt;
}
#event-list .remind-btn{
    color: white;
    position: absolute;
    right: 0;
    top: 10px;
}
button,
.button {
    background: #721a72;
    color: white;
    cursor: pointer;
    font-size: 10pt;
    font-weight: normal;
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: solid 1px #210621;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background: #4c114c;
}
button:active,
.button.selected,
.button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #4c114c;
}
.category {
    font-size: 10pt;
    font-weight: bold;
}
#event-list .category {
    bottom: 5px;
    position: absolute;
    right: 5px;
}
#body.debug p {
    margin: 0;
    padding: 10px;
}
