<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
        <link rel="shortcut icon" href="./favicon.ico">
    </head>
    <body>
    <header class="subpage">
      <div class="inner">
          <a href="/KIJ2013/">
              <h1>KIJ2013</h1>
          </a>
          <h2>Web app for KIJ2013: Kent International Jamboree 2013</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
            {{ content }}
        </section>
      </div>
    </div>
    </body>
</html>
